#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>

#define DEFAULT 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    macros {
        gg: gg {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp G &kp G>;
            label = "GG";
        };

        vim_write: vim_write {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp COLON &kp W &kp ENTER>;
            label = "VIM_WRITE";
        };

        tmux_n1: tmux_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp NUMBER_1>;
            label = "TMUX_NEXT";
        };

        tmux_n2: tmux_n2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp NUMBER_2>;
            label = "TMUX_N2";
        };

        tmux_n3: tmux_n3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp NUMBER_3>;
            label = "TMUX_N3";
        };

        tmux_n4: tmux_n4 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(A) &kp NUMBER_4>;
            label = "TMUX_N4";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        // Layout per side: 7-7-7-6-5-3 = 35 keys
        // Left:  cols 0-6 (keys) + col 7 (5-way switch, rows 0-4)
        // Right: cols 8-14 (keys, includes EC11 push button)
        // EC11 rotation handled by sensor-bindings

        default_layer {
            // DEBUG KEYMAP - each key outputs a unique character to identify its position
            // Left cols 0-6 (L)    5-way col 7 (S)    Right cols 8-14 (R)
            //
            // Expected output when pressing keys left-to-right, top-to-bottom:
            // LEFT  Row 0: 1 2 3 4 5 6 7       5way: a    RIGHT Row 0: q w e r t y u
            // LEFT  Row 1: 8 9 0 - = [ ]       5way: b    RIGHT Row 1: i o p a s d f
            // LEFT  Row 2: a s d f g h j       5way: c    RIGHT Row 2: g h j k l ; '
            // LEFT  Row 3: z x c v b n (none)  5way: d    RIGHT Row 3: m , . / 1 2 (none)
            // LEFT  Row 4: 3 4 5 6 (nones)     5way: e    RIGHT Row 4: 7 8 9 0 (nones)
            // LEFT  Row 5: q w e r t (nones)   (none)     RIGHT Row 5: y u i o p (nones)
            // EC11 push: z
            //
            // NOTE: left uses &kp N1-N7 for row0 to avoid modifier confusion
            //       right uses &kp letters to be clearly distinguishable

            bindings = <
// Row 0: L=1234567  S=down(c)  R=qwertyu
&kp N1  &kp N2  &kp N3  &kp N4  &kp N5  &kp N6  &kp N7     &kp C      &kp Q  &kp W  &kp E  &kp R  &kp T  &kp Y  &kp U
// Row 1: L=890-=[]  S=center(b)  R=iopasdf
&kp N8  &kp N9  &kp N0  &kp MINUS  &kp EQUAL  &kp LBKT  &kp RBKT  &kp B  &kp I  &kp O  &kp P  &kp F1  &kp F2  &kp F3  &kp F4
// Row 2: L=asdfghj  S=up(a)  R=ghjkl;'
&kp F5  &kp F6  &kp F7  &kp F8  &kp F9  &kp F10  &kp F11    &kp A      &kp F12  &kp G  &kp H  &kp J  &kp K  &kp L  &kp SEMI
// Row 3: L=zxcvbn+none  S=right(e)  R=m,./ 12+none
&kp Z  &kp X  &kp V  &kp COMMA  &kp DOT  &kp FSLH  &none     &kp E      &kp M  &kp N  &kp GRAVE  &kp BSLH  &kp SQT  &kp MINUS  &none
// Row 4: L=3456+3none  S=left(d)  R=7890+3none
&kp N3  &kp N4  &kp N5  &kp N6  &none  &none  &none          &kp D      &kp N7  &kp N8  &kp N9  &kp N0  &none  &none  &none
// Row 5: L=qwert+2none  (none)  R=yuiop+2none
&kp Q  &kp W  &kp E  &kp R  &kp T  &none  &none              &none      &kp Y  &kp U  &kp I  &kp O  &kp P  &none  &none
// Row 6: EC11 push button
&kp Z
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        raise {
            bindings = <
&kp TILDE  &kp LEFT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACKET  &kp QUESTION   &trans  &kp C_BRI_UP   &trans      &trans    &trans          &trans                     &trans                    &trans  &trans
&kp SLASH  &kp LEFT_BRACE    &kp GRAVE             &kp SINGLE_QUOTE       &kp RIGHT_BRACE    &kp AT         &trans  &kp K_MUTE     &trans      &trans    &kp LC(D)       &kp LC(U)                  &trans                    &trans  &trans
&kp HASH   &kp CARET         &kp DOUBLE_QUOTES     &kp UNDER              &kp DOLLAR         &kp PERCENT    &trans  &kp C_BRI_DEC  &vim_write  &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW               &kp RIGHT                 &trans  &trans
&kp EXCL   &kp LESS_THAN     &kp MINUS             &kp EQUAL              &kp GREATER_THAN   &kp PLUS       &none   &kp C_VOL_DN   &kp N0       &kp LS(G)  &gg             &kp DOLLAR                 &trans                    &trans  &none
&kp AMPS   &kp PIPE          &kp COLON             &kp BACKSLASH          &none              &none          &none   &kp C_VOL_UP   &trans      &trans    &kp LS(LC(RIGHT_BRACKET))  &kp LS(LC(LEFT_BRACKET))   &none                     &none   &none
&kp ASTERISK  &kp SEMICOLON  &trans                &trans                 &trans             &none          &none   &none          &trans      &trans    &trans                     &trans                     &trans                    &none   &none
&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        lower {
            bindings = <
&trans    &kp F1    &kp F2  &kp F3    &kp F4      &kp F5       &kp F6     &kp C_BRI_UP     &trans     &kp F7         &kp F8        &kp F9         &kp F10       &kp F11       &kp F12
&trans    &kp EXCL  &kp AT  &kp HASH  &kp DOLLAR  &kp PERCENT  &trans     &kp K_MUTE       &trans     &kp CARET      &kp AMPS      &kp ASTRK      &kp LS(LPAR)  &kp LS(RPAR)  &kp BSLH
&trans    &kp N1    &kp N2  &kp N3    &kp N4      &kp N5       &trans     &kp C_BRI_DN     &trans     &kp MINUS      &kp EQUAL     &kp GRAVE      &kp LS(LBRC)  &kp LS(RBRC)  &kp LS(PIPE)
&kp LALT  &kp N6    &kp N7  &kp N8    &kp N9      &kp N0       &none      &kp C_VOL_DN     &kp LS(UNDER)  &kp LS(PLUS)  &kp LS(TILDE)  &kp LBKT       &kp RBKT      &trans        &none
&trans    &trans    &trans  &trans    &none        &none        &none      &kp C_VOLUME_UP  &trans         &trans        &trans         &trans         &none         &none         &none
&trans    &trans    &trans  &trans    &trans       &none        &none      &none            &mkp LCLK      &mkp MCLK     &mkp RCLK      &trans         &trans        &none         &none
&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        adjust {
            bindings = <
&bt BT_CLR    &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &trans  &trans  &trans  &trans     &trans          &trans                    &trans                     &trans  &trans
&out OUT_USB  &out OUT_BLE  &bootloader   &trans        &trans        &trans        &trans  &trans  &trans  &trans     &trans          &mmv MOVE_UP              &trans                     &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans        &trans  &trans  &trans  &trans     &mmv MOVE_LEFT  &mmv MOVE_DOWN            &mmv MOVE_RIGHT            &trans  &trans
&trans        &trans        &trans        &trans        &trans        &trans        &none   &trans  &trans     &msc SCRL_UP    &msc SCRL_DOWN  &trans                    &trans                     &trans  &none
&trans        &trans        &trans        &trans        &none         &none         &none   &trans  &trans     &mkp LCLK       &kp LS(LC(LEFT_BRACKET))  &kp LS(LC(RIGHT_BRACKET))  &none              &none   &none
&trans        &to 4         &trans        &trans        &trans        &none         &none   &none   &mkp RCLK  &mkp MCLK       &mkp MB4                  &mkp MB5                   &trans             &none   &none
&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        layer_4 {
            bindings = <
&trans      &kp N1     &kp N2  &kp N3  &kp N4     &kp N5    &kp N6  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp TAB    &kp Q   &kp W   &kp E      &kp R     &kp T   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&kp ESCAPE  &kp CAPS   &kp A   &kp S   &kp D      &kp F     &kp G   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans      &kp LSHFT  &kp Z   &kp X   &kp C      &kp V     &none   &trans  &trans  &trans  &trans  &trans  &trans  &trans  &none
&kp SPACE   &kp LALT   &kp LGUI  &trans  &none    &none     &none   &trans  &trans  &trans  &trans  &trans  &none   &none   &none
&to 0       &trans     &trans  &trans  &trans     &none     &none   &none   &trans  &trans  &trans  &trans  &trans  &none   &none
&trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
